BODY {
  font-family: 'PT Serif', serif;
}


.container {
  text-align:center;
}

p{
  text-align:left;
  line-height:180%;
}

li {
  text-align: left;
  padding: 5px;
}

.navbar {
  font-family: 'Montserrat', sans-serif;

}


.hed {
  font-size:3em;
  font-family: 'Montserrat', sans-serif;
  font-weight:700;
}


.byline {
  font-size:.75em;
  text-transform: uppercase;
  font-style: oblique;
  margin-top:-10px;
  font-family: 'Montserrat', sans-serif;

}

.chapter-head {
  font-size:2em;
  font-family: 'impact', sans-serif;
  padding-top:20px;
  font-weight:700;
}

.stack-image {
  width:100%;
  max-width:900px;
  margin:0 auto;
  padding-top:30px;
}

.caption {
  width:100%;
  margin:0 auto;
  padding-bottom:30px;
  font-family: 'Montserrat', sans-serif;
  color:#999;
  text-align: left;
}

.footer {
  background: #000;
  height:100px;
  min-height: 100px;
  padding-top:25px;
  margin-top:100px;
}

.footer p {
  font-family: 'Montserrat', sans-serif;
  color: #fff
}

/* top hat */
.nav-logo {
  color: #fff;
  margin: 0 auto;
  font-weight: 700;
  text-transform: uppercase;
}

.red {
  color: #f23030;
}

.bg-dark {
  background-color: #000 !important;
}

/*splash*/
.hero-container {
  position: relative;
  text-align: center;
  color: white;
}

.hero-image {
  width: 100%;
}

.overlay {
  position: absolute;
  width: 100%;
  top: 20%;
  background: black;
  opacity: .7;
}

.hero-head {
  padding-top: 10px;
  margin: 0 auto;
  font-size: 6em;
  font-family: 'Palatino', serif;
  padding-bottom: 10px;
  color: #fff;
  font-weight: bold;
}

.hero-sub {
  font-family: 'times', sans-serif;
  font-size: .25em;
  font-weight: normal;
}

.underlay {
  position: absolute;
  left: 45%;
  width: 10%;
  top: 60%;
  background: black;
  opacity: .7;
}

.below-hero {
  margin: 0 auto;
  font-size: 1.5em;
  font-family: sans-serif;
  color: #fff;
}

.arrow {
  width: 30px;
}

#sidebar {
  border-style: outset;
  border-color: red;
}
.sidebar {
  color: #B50000;
  font-size:1.75em;
  font-family: 'helvetica', sans-serif;
  padding-top:20px;
  font-weight:700;
  margin: 0;
}

.pull-out {
  font-family: 'helvetica', sans-serif;
  font-size: .75em;
}

blockquote {
  font-size: 3em;
  color: #B50000;
  font-family: 'Bookman', serif;
  font-style: italic;
}

a:link {
  color: red;
}

a:visited {
  color: white;
}

a:hover {
  color: blue;
}

@media(max-width:810px) {
  p {
    padding-left:20px;
    padding-right:10px;
  }

  .chapter-head {
    font-size:1.25em;
  }

  .hed {
    font-size:2em;
  }

  .hero-head {
    font-size: 1.5em;
  }

  .below-hero {
    font-size: .25em;
  }

  .arrow {
    width: 15px;
  }

  .sidebar {
    font-size: 1.25em;
  }

  .caption {
    font-size: .75em;
  }

  blockquote {
    font-size: 1.5em;
  }
}
