/*Styles for my Resume*/

/*Description of me*/
p {
  color: #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

/*Body of my Resume*/
body {
  color: #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
}

/*Banner name at the top of the Resume*/
h1 {
  color: #33485E;
  font-size: 3.5em;
  text-transform: uppercase;
  text-align: center;
}

/*Section Titles*/
h2 {
  color: white;
  background-color: #33485E;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 400;
}

/*Job Titles*/
h3 {
  color: #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  font-weight: 600;
}

/*Job Organization*/
h4 {
  color: #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}

/*Job Dates*/
h5 {
  color: #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
}

/*Contact Information and Descriptions*/
ul {
  color: #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
}

/*My Title*/
strong {
  text-transform: uppercase;
  font-size: 2em;
  color: #33485E;
}
