.nav-bar {
  background-color: #333;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}

.nav-bar a {
  display: block;
  float: left;
  text-align: center;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav-bar a:hover {
  background: #ddd;
  color: black;
}

/*Page Topper*/
.masthead {
  background-position: center;
  background-size: cover;
  position: relative;
}

/*Text for Page Topper*/
.text-block {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 100%;
}

/*Font for Page topper*/
.display-5 {
  text-transform: uppercase;
  font-family: serif;
}

.display-6 {
  text-transform: uppercase;
  font-family: serif;
}


#foreground{
    position: absolute;
    height:100%;
    width:100%;
    background-color: black;
    opacity:0.4;
}

hr {
  width: 50%;
  height: 5px !important;
  opacity: 1.0 !important;
  margin-left: 25% !important;
  margin-right: 25% !important;
}

.nolan {
  margin: 0 auto;
  width: 50%;
  max-width: 400px;
  display: block;
  position: relative;
  margin-top: 5px;
}
.avatar-section {
    border-radius: 50%;
    border: 5px solid white;
    width: 100%;
    display: block;
    margin: auto;
}

#gradient {
  height: 100%;
  background-color: #e3d164; /* For browsers that do not support gradients */
  background-image: linear-gradient(#fce775, #7a751d);
}

.bi {
  font-size:3em;
}
.col-sm-4 {
  text-align: center;
}
.contact {
  max-width: 300px;
  position: relative;
  display: block;
  margin: 0 auto;
}

.git:visited {
  color: black;
  background-color: transparent;
}
.git:hover {
  color: purple;
  background-color: transparent;
}

.linkedin:visited {
  color: #0e76a8;
  background-color: transparent;
}

.linkedin:hover {
  color: black;
  background-color: transparent;
}

/*Section Titles*/
.SectionHeader {
  color: white;
  background-color: #a70000;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 400;
  margin: 20px 0px 10px 0px;
  width: 100%;
  min-width: 300px;
  padding-left: 10px;
}

/*Job Titles*/
.JobTitle {
  color: #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  font-weight: 600;
}

/*Job Organization*/
.Organization {
  color: #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
}

/*Job Dates*/
.Date {
  color: #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
  margin: 3px 0px 0px 0px;
}
/*Descriptions*/
.Description {
  color: #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  margin: 10px 0px 0px 0px;
}

p {
  color: #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  margin: 0 auto;
}

/*Education and Skills Descriptions*/
ul {
  color: #444;
  font-family: 'Open Sans', sans-serif;
}

#Degrees {
  margin: 5px 0px 0px 0px;
}

#Skills {
  margin: 5px 0px 0px 0px;
}

#resume {
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 900px;
}

#about {
  z-index: 1;
  top: -150px;
  position: relative;
}
.about {
  text-transform: uppercase;
  text-align: center;
  background-color: #a70000;
  color: white;
  font-size: 2vw;
  width: 40%;
  margin: 0 auto;
  margin-top: 50px;
  font-family: garamound;
  padding: 25px;
  border-radius: 80%;
}

.about-description {
  text-align: center;
  padding-top: 50px;
}
