/*SideNav*/
.dropdown {
  background-color: blue;
  color: white;
  padding: 10px;
  font-size: 30px;
  font-family: serif;
  font-weight: bold;
  margin: 10px;
}

.sidenav {
  position: fixed;
}

.references {
  display: none;
  position: fixed;
  background-color: silver;
}

/* Links Inside the SideNav */
.references a {
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}
.sidenav:hover .references{
  display: block;
}
.references a:hover {
  background-color: black;
  color: white;
}

/*Page Topper*/
.topper {
  width: 100%;

}

/*Main Essay*/
#content {
  max-width: 80%;
  margin: auto;
}

/*Headline*/
#headline {
  font-family: "papyrus";
  font-size: 50px;
  margin: 0;
  padding-top: 20px;
}

/*Who wrote the story*/
#byline {
  font-family: serif;
  font-size: 15px;
  font-style: italic;
  margin: 0;
}

/*Date the story was written*/
#date {
  font-family: serif;
  font-size: 10px;
  font-style: italic;
}

/*captions underneath photos*/
.caption {
  font-family: serif;
  font-size: 10px;
  font-style: italic;
  text-align: center;
}

/*To get a photo to wrap text to the left*/
.float-left {
  float: left;
  width: 30%;
  text-indent: 0;
  padding: 5px;
  margin: 0 auto;
  border: 0;
}

/*To get a photo to wrap text to the right*/
.float-right {
  float: right;
  width: 30%;
  text-indent: 0;
  padding: 5px;
  margin: 0 auto;
  border: 0;
}

/*main essay words*/
p {
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 12px;
}

/*subheadings*/
h2 {
  font-family: serif;
  font-weight: bold;
  padding-top: 25px;
}

/*Blockquote*/
blockquote {
  font-size: 20px;
  color: #161674;
  font-style: italic;
  text-align: center;
  min-width: 600px;
  width: 65%;
  margin: 0 auto !important;
}

/*Read more for article links*/
h4 {
  text-align: center;
  background-color: black;
  width: 100%;
  padding: 5px;
  color: white;
  font-family: "copperplate";
  font-size: 1.5em;
}

/*article links text*/
.col-6 {
  text-align: center;
}

/*Red background on left and right*/
.col-2 {
  background-color: hsl(0,100%,50%,0.75);
}

/*Blue Background in center*/
.col-8 {
  background-color: hsl(240,100%,50%,0.25);
}

.link {
  color: black;
}

.link:hover {
  color: red;
}
