/*Styles for my the midterm review*/

/*Main Essay*/
#content {
  max-width: 900px;
  margin: auto;
}

/*Page Topper*/
.masthead {
  position: relative;
  text-align: center;
  width: 100%;
}

/*Text for Page Topper*/
.text-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  padding: 20px 20px 0px 20px;
}

/*Font for Page topper*/
.display-5 {
  text-transform: uppercase;
  font-family: 'Special Elite', cursive;
}

/*Side Images for Page Topper*/
.img-umd {
  width: 100%;
  max-width: 90px;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.col {
    position: relative;
}

/*Read more for article links*/
h2 {
  text-align: center;
  background-color: black;
  width: 100%;
  padding-top: 5px;
  color: white;
  font-family: 'Special Elite', cursive;
}

/*The Byline*/
#byline {
font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
text-align: center;
}

/*The Headline*/
#headline {
  font-family: 'Special Elite', Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

/*Main Article words*/
p {
  font-family: Georgia, sans-serif;
  font-size: 13px;
}

.col-md-4 {
  text-align: center;
}

/*Images for the article*/
.image {
  padding: 10px;
}

/*Description for moving image*/
h5 {
  text-align: center;
}

/*Blockquote*/
blockquote {
  font-size: 20px;
  color: #161674;
  font-style: italic;
  text-align: center;
  min-width: 600px;
  width: 65%;
  margin: 0 auto !important;

}
